.speedometer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
}

.speedometer-gauge {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.speedometer-fill {
  transition: stroke-dashoffset 1.5s ease-out;
  transform-origin: center;
}

.speedometer-content {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.speedometer-value {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.speedometer-label {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
